.download-resume {
    width: 208px;
    height: 47px;
    background: #FF6464;
border-radius: 2px;
color:#fff;
display: inline-block;
display: flex;
justify-content: center;
align-items: center;
}

a, a:hover {
    text-decoration: none;
    color:#fff;
}

.typing-effect {
    font-size: 44px;
    font-weight: 700;
}

 p {
    width: 497px;
 }